.form {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  max-width: 385px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  display: block;
  padding: 12px;
  height: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border: 1px solid #838383;
  border-radius: 4px;
}

.form__label {
  display: block;
  margin-bottom: 8px;
  margin-top: 32px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  max-width: max-content;
}
.form__label:first-of-type {
  margin-top: 0;
}

.form__button {
  width: 100%;
  height: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  background-color: #2f80ed;
  margin-top: 32px;
  color: #ffffff;
  border: none;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  font-family: inherit;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  background-image: url(../images/check.svg);
  margin-right: 12px;
  padding-top: 32px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 120px;
  align-self: center;
}

input::-webkit-input-placeholder {
  color: #838383;
}

input::-moz-placeholder {
  color: #838383;
}

input::-ms-input-placeholder {
  color: #838383;
}

.form__checkbox:checked {
  accent-color: #2f80ed;
  background-image: url(../images/check.svg);
}
